<div class="sub-footer">
  <span id="sf-toggle" onclick="toggleSubFooter()">
    <span class="sf-toggle-icon"></span>
  </span>
  
  <div id="skin-switch-container">
    <!--
    Page rendered with the <select id="skin-switch">
      {%- for skin in page.available_skins %}
      {% if skin == 'classic' -%}
      <option value="style.css">classic</option>
      {%- else -%}
      <option value="{{ skin }}.css">{{ skin }}</option>
      {%- endif %}
      {%- endfor %}
    </select> skin of Minima theme.
    {% if skin == 'classic' -%}
    <i class="fa-solid fa-bell"></i>
    {%- else -%}
    <i class="fa-regular fa-bell"></i>
    {%- endif %}
  -->
      
      
    <!-- https://docs.fontawesome.com/web/use-with/ruby-on-rails -->
    <div><small id="copyright"></small></div>
  </div>
</div>

<script>
  document.getElementById('copyright').innerHTML = "&copy; " + new Date().getFullYear() + " Lucas Fisher";

  function toggleSubFooter() {
    siteFooter = document.querySelector(".site-footer");
    siteFooter.classList.toggle("sub-footer-hidden");
  }
</script>